<mat-toolbar class="main-menu">
    <a class="logo item clickable" mat-button [routerLink]="['/home']" routerLinkActive="router-link-active">
      <span>Front end app</span>
    </a>
    <nav class="content">
      <div *ngFor="let menuItem of menuItems">
        <button mat-button color="primary" class="item" [routerLink]="[menuItem.url]"
          routerLinkActive="router-link-active" type="button">
          <mat-icon class="icon" aria-hidden="false" [ariaLabel]="menuItem.aria" [fontIcon]="menuItem.icon"></mat-icon>
          <span class="description">{{ menuItem.description }}</span>
        </button>
      </div>
    </nav>
  </mat-toolbar>
