<mat-toolbar class="main-menu">
  <div class="left-section">
    <a class="logo item clickable" mat-button routerLink="/">
      <span i18n="@@app.title">Comments app</span>
    </a>

    <mat-form-field appearance="outline" class="search-field">
      <input
        matInput
        placeholder="Search comments"
        [(ngModel)]="searchTerm"
        (ngModelChange)="onSearch($event)"
      />
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </div>

  <span class="spacer"></span>

  <nav class="content">
    @for (language of languages; track $index) {
    <button
      mat-button
      color="primary"
      class="item"
      type="button"
      (click)="onLanguageSelect(language.short)"
    >
      <mat-icon
        class="icon"
        aria-hidden="false"
        [ariaLabel]="language.aria"
        [fontIcon]="language.icon"
      ></mat-icon>
      <span class="description">{{ language.description }}</span>
    </button>
    }
  </nav>
</mat-toolbar>
