<!-- HEADER -->
<div class="dialog-header">
  <h2 mat-dialog-title>Add/Edit Comment</h2>
  <button
    type="button"
    mat-icon-button
    class="close-button"
    (click)="closeDialog()"
  >
    <mat-icon class="close-icon" color="warn">close</mat-icon>
  </button>
</div>

<!-- FORM -->
<form [formGroup]="form" (ngSubmit)="onPost()">
  <mat-dialog-content>
    <div class="form-row">
      <label for="title">Title:</label>
      <mat-form-field appearance="outline" class="input-field">
        <input id="title" matInput formControlName="title" />
        @if (isTitleInvalid) {
        <mat-error>{{ titleErrorMessage }}</mat-error>
        }
      </mat-form-field>
    </div>

    <div class="form-row">
      <label for="content">Description:</label>
      <mat-form-field appearance="outline" class="input-field">
        <textarea id="content" matInput formControlName="content"></textarea>
        @if (isContentInvalid) {
        <mat-error>{{ contentErrorMessage }}</mat-error>
        }
      </mat-form-field>
    </div>
  </mat-dialog-content>

  <!-- ACTIONS -->
  <mat-dialog-actions align="center" class="action-buttons">
    <button type="submit" mat-raised-button color="primary" (click)="onPost()" cdkFocusInitial>
      Post
    </button>
    <button type="button" mat-button (click)="closeDialog()">Cancel</button>
  </mat-dialog-actions>
</form>
